<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Quan's To-do Application</title>
    <link rel="stylesheet" type="text/css" href="$request.contextPath/resources/css/style.css" />
</head>
<body>
    <header>
        <h1>My Count Down Application</h1>
    </header>

    <div id="content">
        $screen_content
    </div>

    <footer>
        <p>&copy; 2025 My Application</p>
    </footer>
</body>
</html>